In [2]:
import pandas as pd
import folium

## lesen die Datei mit Geolokations

In [29]:

plz_geo_df = pd.read_csv('plz_geocoord.csv')
# unbebennen die erste Spalte nach PLZ
plz_geo_df.rename(columns={'Unnamed: 0': 'inserent_plz'}, inplace=True) 

plz_geo_df.head()

   inserent_plz        lat        lng
0          1067  51.057550  13.717065
1          1069  51.039135  13.737675
2          1097  51.065908  13.736152
3          1099  51.087188  13.802804
4          1108  51.144324  13.799706

## lesen die Datei mit Daten und wählen die Hightperforer

In [35]:

df_daten = pd.read_csv('predictions_gpt2.csv')
t = df_daten[['br','title','inserent_plz','label']]
df_hight_perf = t[t['label'] == 2].copy()

#type Object in Type integer umwandeln  
df_hight_perf['inserent_plz'] =df_hight_perf['inserent_plz'].astype(int)


# Dataframes zusammenlegen
df_hight_perf_geo = pd.merge(df_hight_perf, plz_geo_df, on='inserent_plz', how='left')

#kommische Zeilen weglegen
df_hight_perf_geo = df_hight_perf_geo.dropna()

In [ ]:
df_daten1 = df_daten[['br', 'inserent_plz','title', 'clicks7d', 'label' ]]

## Low Perforemer Dataframe

In [46]:

df_low_perf = df_daten1[df_daten1['label'] == 0].copy()
#df_low_perf.shape


df_low_perf['inserent_plz'].dtype


#type ändern
df_low_perf.dropna()
#df_klein_daten.shape

#type Object in Type integer umwandeln  
df_low_perf['inserent_plz'] = df_low_perf['inserent_plz'].astype(int)

# Dataframes zusammenlegen
df_low_perf_geo = pd.merge(df_low_perf, plz_geo_df, on='inserent_plz', how='left')

# alle "komische" Spalten abschalten
df_low_perf_geo = df_low_perf_geo.dropna()

df_low_perf_geo

,br,inserent_plz,title,clicks7d,label,lat,lng
0,38073246,10318,Technischer Zeichner / Technischer Systemplane...,33,0,52.481036,13.518647
1,39993622,38112,Head* of Distribution Logistics,35,0,52.307369,10.476249
2,42568896,80686,Kfz-Mechatroniker als Straßenwachtfahrer (m/w/d),55,0,48.128863,11.508962
3,38615244,40789,Agile Coach / Scrum Master (m/w/d),42,0,51.096611,6.897437
4,38885691,44269,Junior Consultant SAP Logistik (w/m/d),44,0,51.491844,7.531976
...,...,...,...,...,...,...,...
5449,39234159,60327,Servicetechniker:in (m/w/d) Elektro,25,0,50.100523,8.654449
5450,40893270,77866,Disponent Versand (m/w/d),9,0,48.656661,7.942175
5451,43461193,30625,SAP Key User:in General Ledger Financial Accou...,15,0,52.376383,9.802693
5452,42751497,30625,Spezialist:in Financial Reporting,14,0,52.376383,9.802693
5453,36937339,68161,Senior Controller (m/w/d),22,0,49.486166,8.470262

# Karte erstellen

In [48]:
deutschland_karte = folium.Map(location=[51.1657, 10.4515], zoom_start=6)

# Hinzufügen der PLZ-Punkte für hight_perf zur Karte
for index, row in df_hight_perf_geo.iterrows():
    folium.CircleMarker(
        location=[row['lat'], row['lng']],
        radius=2, # Radius des Punktes
        color='red',
        fill=True,
        fill_color='red',
        fill_opacity=0.2
    ).add_to(deutschland_karte)
    
# Hinzufügen der PLZ-Punkte für hight_perf zur Karte
for index, row in df_low_perf_geo.iterrows():
    folium.CircleMarker(
        location=[row['lat'], row['lng']],
        radius=2, # Radius des Punktes
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.2
    ).add_to(deutschland_karte)
    

deutschland_karte.save('deutschland_karte.html')